.about {
  background-color: @white;
  padding-top: 45px;
  padding-bottom: 34px;

  font-weight: 300;

  &--index {
    padding-top: 38px;
    padding-bottom: 34px;
  }

}

.about__wrapper {
  .container;
}

.about__text {
  .reset-list;
  display: block;
  margin: 0;

  .font(14px;30px);

  &--form {
    display: none;
  }
}

.about--index .about__text {
  .font(24px;31px);

  &:first-child {
    margin-bottom: 24px;
  }
}





@media (min-width: @tablet-width) {

  .about {
    padding-top: 92px;
    padding-bottom: 76px;

    .font(18px;30px);

    &--index {
      padding-top: 50px;
      padding-bottom: 46px;
    }
  }

  .about__wrapper {
    width: 517px;
    margin: 0 auto;
  }

  .about--index .about__wrapper {
    width: auto;
  }

  .about__text {

    .font(18px;30px);

    display: inline;
    padding: 0;
  }

  .about--index .about__text {
    display: block;
    padding: 0 70px;
    .font(40px;1.2);

    &:first-child {
      margin-bottom: 0;
      padding: 0;
    }
  }

}

@media (min-width: @desktop-width) {
  .about__wrapper--photo {
    width: auto;
  }

  .about__text {
    &--index:last-child {
      padding: 0 192px;
    }

    &--photo {
      display: block;
    }

    &--form {
      padding: 0;
    }
  }

}
