.about {
  padding-top: 13px;
  padding-bottom: 3px;

  background-color: @white;
}

.about__wrapper {
  .container;
}

.about__text {
  .reset-list;
  margin: 31px 0;

  .font(14px;30px);
  font-weight: 300;
}

.about__text--index {
  .font(24px;normal);
}
