.advantages {
  position: relative;
  background-color: @white;
}

.advantages__wrapper {
  position: relative;
  .mask-bg("bg-triangle-white.svg");

  .container;
  padding-top: 84px;

  background-color: @gray;

  &::after {
    .pseudo(157px,320px);

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 43px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.advantages__list {
  .reset-list();
  padding-bottom: 320px;
}

.advantages__title {
  .font(18px;24px);
  color: @black;
}

.advantages__text {
  .font(14px;24px);
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    &::after {

    .pseudo(43.22%;320px);
      right: auto;
      left: 20px;
    }

  .advantages__list {


    margin-left: auto;
    width: 50%;
    padding-bottom: 46px;

    text-align: left;
  }
}
}
@media (min-width: @desktop-width) {

}
