.advantages {
  position: relative;



  background-color: @white;
}

.advantages__list {
  .reset-list();
  position: relative;
  background-color: @gray;
  .mask-bg("bg-triangle-white.svg");
}

.advantages__wrapper {
  .container;
  padding-top: 84px;
}

.advantages__item:last-child {
  position: relative;
  padding-bottom: 320px;
}

.advantages__item:last-child::after {
  .pseudo(157px,320px);

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 43px;
  left: 0;
  right: 0;
  margin: auto;
}

.advantages__title {
  .font(18px;24px);
  color: @black;
}

.advantages__text {
  .font(14px;24px);
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
