.download-app {
  padding: 20px;

  background-color: @blue;

  color: @white;

  &__button {
    margin: 0 auto;
    padding: 15px 34px;
    display: inline-block;

    .font(18px;18px);
    font-weight: 700;

    border: 3px solid @white;
    border-radius: 28px;
  }

  &__mobiles {
    font-size: 0;
  }

  &__description {
    .font(14px;24px);
  }
}
