.download-app {
  position: relative;

  margin-top: 366px;
  min-height: 270px;
  padding: 20px;
  padding-top: 27px;

  color: @white;
  background-color: @blue;
}

.download-app__title {
  display: none;
  .reset-list;
  margin-bottom: 30px;

  .font(40px;1.2);
  font-weight: 300;
}

.download-app__button {
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  max-width: 360px;
  display: inline-block;

  .font(18px;18px);
  font-weight: 700;

  border: 3px solid @white;
  border-radius: 28px;
}

.download-app__mobiles {
  font-size: 0;
}

.download-app__description {
  .font(14px;24px);
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .download-app {
    z-index: 1;

    width: 300px;
    margin-top: 64px;
    margin-left: 20px;
    padding: 28px 0;

    background-color: transparent;
  }

  .download-app__title {
    display: block;

  }
}

@media (min-width: @desktop-width) {

  .download-app {
    margin-top: 80px;
    margin-left: 10px;
  }

  .download-app__title {
    margin-bottom: 52px;

    .font(50px;1.2);
  }

  .download-app__button {
    .font(21px;18px);
  }
}
