.download-app {
  position: relative;
  padding: 20px;

  color: @white;
  background-color: @blue;
  margin-top: 396px;
}

.download-app__title {
  display: none;
  .reset-list;
  margin-bottom: 30px;

  .font(40px,normal);
  font-weight: 300;
}

.download-app__button {
  margin: 0 auto;
  padding: 15px;
  width: 280px;
  display: inline-block;

  .font(18px;18px);
  font-weight: 700;

  border: 3px solid @white;
  border-radius: 28px;
}

.download-app__mobiles {
  font-size: 0;
}

.download-app__description {
  .font(14px;24px);
}

@media (min-width: @tablet-width) {
  .download-app {
    z-index: 1;

    width: 300px;
    margin-top: 98px;

    background-color: transparent;
  }

  .download-app__title {
    display: block;
  }
}

@media (min-width: @desktop-width) {

}
