.feedback {

}

.feedback__wrapper {
  .container;

  &--color {
    background-color: @gray;
  }

  &--contacts .feedback__title--fieldset {
    display: none;
  }
}

.feedback__fieldset {
  .reset-list;
  padding-top: 38px;
  padding-bottom: 38px;

  border: none;

  &--full-name {
    padding-top: 0;
  }
}

.feedback__group {
  .reset-list;
}

.feedback__group--switches {
  text-align: left;
}

.feedback__title {

  width: 100%;
  display: inline-block;
  padding-left: 22px;

  text-align: left;
  .font(14px;30px;);
  text-transform: uppercase;
  color: @pink;

  &--fieldset {
    padding-top: 38px;
    padding-left: 0;

    text-align: center;
    .font(14px;18px;);
  }
}

.feedback__title--switch {
  position: relative;
  display: inline-block;
  padding-left: 70px;
  padding-top: 6px;
  margin-bottom: 42px;
}

.feedback__title--switch::before {
}

.feedback__input {
  width: 100%;
  margin-bottom: 24px;
  padding: 15px 22px;

  .font(18px;30px;);
  color: @blue;

  &::-webkit-input-placeholder {
    color: @blue;
  }

  &:-moz-placeholder {
    color: @blue;
  }

  &:-moz-placeholder {
    color: @blue;
  }

  &:-ms-input-placeholder {
    color: @blue;
  }
}

.feedback__input--radio {

}

.feedback__input--message {
  padding: 20px;
  min-height: 200px;
  margin-bottom: 0;

  border: 2px solid @graydark;
}

.radio,
.checkbox {
  display: none;
}

.radio ~ .feedback__title--switch::before,
.checkbox ~ .feedback__title--switch::before {
  .pseudo(39px; 39px);

  left: 0;
  top: 0;

  border: 2px solid @graydark;
  background-color: @white;
}

.checkbox ~ .feedback__title--switch::before {
  border-radius: 2px;
}

.radio ~ .feedback__title--switch::before {
  border-radius: 50%;
}

.feedback__send-button {
  padding: 21px;
  width: 100%;

  border-radius: 2px;
  background-color: @green;
  color: @white;
  text-transform: uppercase;
  .font(18px;30px);
  font-weight: 700;
}

.feedback__required-text {
  .font(14px; 30px);
  text-transform: uppercase;
  &--pink {
    color: @pink;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    display: flex;
    flex-direction: column;
  }

  .feedback__wrapper {

    &--color {
      background-color: transparent;
    }

    &--full-name  .feedback__fieldset {
      padding: 0;
      border: none;
    }

    &--progress {
      order: 2;
    }

    &--contacts {
      order: 1;
      flex-direction: column;
    }

    &--contacts .feedback__title--fieldset {
      display: inherit;
    }

    &--contacts .feedback__group {
      flex-direction: column-reverse;
    }

    &--advanture {

    }

    &--emo {
      order: 3;
    }

    &--submit {
      order: 4;
    }
  }

  .feedback__group {
    display: flex;
    justify-content: space-between;
  }

  .feedback__fieldset {

    margin-bottom: 66px;
    padding-left: 60px;
    padding-right: 60px;

    border: 2px solid @graydark;
  }

  .feedback__title {
    width: auto;
    margin-top: 18px;


    &--label {
      padding-right: 16px;
    }

    &--fieldset {
      padding: 0 30px;

      .font(14px;30px);
    }

    &--phone,
    &--email {
      margin-top: 0;
    }

    &--phone ~ .feedback__input,
    &--email ~ .feedback__input {
      margin-bottom: 8px;
    }

    &--phone {
      margin-bottom: 34px;
    }
  }

  .feedback__send-button {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    .container-desk;
  }
  .feedback__wrapper {

  }
}
