.feedback {

  &__fieldset {

    border: none;
    .no-ident;

  }

  &__fieldset--dark-background,
  &__fieldset--dark-background &__title--fieldset {
    background-color: @gray;
  }

  &__fieldset--full-name {

  }

  &__group {

  }

  &__group--switches {
    .no-ident;

    text-align: left;
  }

  &__title {
    width: 100%;
    display: inline-block;
    padding-left: 22px;

    text-align: left;
    .font(14px;30px;);
    text-transform: uppercase;
    color: @pink;
  }

  &__title--fieldset {
    padding: 40px 0;

    text-align: center;
    .font(14px;18px;);
  }

  &__title--switch {
    position: relative;
    display: inline-block;
    padding-left: 70px;
    padding-top: 6px;
    margin-bottom: 43px;
  }

  &__title--switch::before {


  }

  &__input {
    width: 100%;
    padding: 15px 22px;

    .font(18px;30px;);
    color: @blue;

    &::-webkit-input-placeholder {
      color: @blue;
    }
    &::-moz-placeholder {
      color: @blue;
    }
    &:-moz-placeholder {
      color: @blue;
    }
    &:-ms-input-placeholder {
      color: @blue;
    }
  }

  &__input--radio {

  }

  &__input--message {
    padding: 20px;
    margin-bottom: 48px;
    min-height: 200px;

    border: 2px solid @graydark;
  }


  &__input ~ &__title--switch::before {
    .pseudo(39px; 39px);

    left: 0;
    top: 0;

    border: 2px solid @graydark;
    background-color: @white;
  }

  &__input--checkbox ~ &__title--switch::before {
    border-radius: 2px;
  }

  &__input--radio ~ &__title--switch::before {
    border-radius: 50%;
  }

  &__send-button {
    padding: 21px;
    width: 100%;

    border-radius: 2px;
    background-color: @green;
    color: @white;
    text-transform: uppercase;
    .font(18px;30px);
    font-weight: 700;
  }
  &__required-text {
    .font(14px; 30px);
    text-transform: uppercase;
    &--pink {
      color: @pink;
    }
  }
}
