.page-header {
  position: relative;
  z-index: 2;

  display: flex;
  height: 66px;

  background-color: fade(@black, 30%);
  color: @white;
}

.page-header__logo {
  display: flex;
}

.page-header__wrapper {
  .container;
}

@media (min-width: @tablet-width) {
  .page-header {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {

}
