.page-header {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  background-color: fade(@black, 30%);
  color: @white;

  &__logo {
    padding: 20px;
  }

  &--visible-menu {
    background-color: @blue;
  }

  &--visible-menu .main-nav__list {
    display: block;
  }
}
