.head-wallpaper {
  position: relative;

  padding-top: 66px;
  min-height: 237px;

  background-color: @blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 100%;

  &--index::after {
    .pseudo(257px; 287px);
    z-index: 0;
    right: 0;
    left: 0;
    top: 176px;
    margin: auto;

    background: url(../img/iphone-hand-mobile@1x.png) no-repeat bottom center;
    transform: translate(-12%);
  }
}

@media (min-width: @tablet-width) {

.head-wallpaper {

  background-image: url("../img/bg-back-tablet@1x.jpg");

  &--index::after {
    left: auto;
    top: auto;
    bottom: 0;

  }
}

}

@media (min-width: @desktop-width) {
  .head-wallpaper__wrapper {
    .container-desk;
  }
}
