.interesting {
  display: none;
  padding: 66px 0;

  text-align: left;
}

.interesting__wrapper {
  .container;
  min-height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interesting__title {
  .reset-list;
  margin-left: 50%;
  margin-bottom: 10px;
  max-width: 184px;

  .font(30px;36px);
  color: @black;
}

.interesting__text {
  .reset-list;
  margin-left: 50%;
  padding-right: 10px;
  margin-bottom: 10px;

  .font(14px;24px);
}

.interesting__link {
  margin-left: 50%;

  color: @pink;
  text-decoration: underline;
  .font(14px;24px);
}

@media (min-width: @tablet-width) {
  .interesting {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .interesting {
    padding-top: 22px;
    padding-bottom: 113px;

    background-color: @gray;
  }

  .interesting__wrapper {
    position: relative;
    .container-desk;
    padding-top: 92px;
    justify-content: flex-start;
  }

  .interesting__title {
  margin-left: 39%;
  margin-bottom: 20px;


  max-width: 100%;
  }

  .interesting__text {
  margin-left: 39%;
  margin-bottom: 32px;
    .font(18px;30px);
  }

  .interesting__link {
  margin-left: 39%;

  .font(18px;30px);

  }

}
