.list-off() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.no-ident() {
  margin: 0;
  padding: 0;
}

.font(@font-size; @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.pseudo(@width; @height) {
  content: "";
  position: absolute;

  width: @width;
  height: @height;
}

.size(@width; @height) {
  width: @width;
  height: @height;
}

.mask-bg(@mask-file-name) {
  &::before {
    .pseudo(100%,100%);
    background-image: url("../img/@{mask-file-name}");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    top: 0;
    left: 0;
  }
}
