.page-main {
  margin-top: -66px;
  position: relative;

  text-align: center;
}

.page-main__title {
  .reset-list;

  margin: auto;
  padding: 28px 0;
  max-width: 232px;
  color: @white;
  font-weight: 300;
  .font(24px;normal);
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -110px;
    position: relative;

    text-align: center;
  }

  .page-main__title {
    padding: 66px 0;

    max-width: 482px;
    .font(50px;60px);
  }
}

@media (min-width: @desktop-width) {

}
