.page-footer {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.page-footer__logo {
  display: inline-block;
  width: 147px;
  margin-bottom: 40px;
}

@social-margin: 12px;

.social {
}
.social__list {
  .reset-list();
  display: flex;
  margin-bottom: 38px;
  margin-left: -@social-margin;
  justify-content: center;
}

.social__item {
  .font(0;0);
  width: 50px;
  height: 50px;
  display: block;
  margin-left: @social-margin;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social__link {
}

.copyright {
}

.copyright__text {
  .font(14px;18px);
  font-weight: 300;
}

.copyright__link {
  .font(0;0);
}
