.page-main {
  margin-top: -66px;
  position: relative;

  text-align: center;

  &__title {
    .no-ident;
    .antistick;
    padding-top: 34px;
    color: @white;
    font-weight: 300;
    .font(24px;auto);
  }
}

.main-wrapper {
  padding: 0 20px;
}
