.photo__wrapper {
  .container;
}

.photo__list {
  .reset-list();
}

.photo__item {
  position: relative;

  &--panorama::before {
    .pseudo(140px;36px);
    content: "Панорама дня";
    top: 0;
    right: 20px;

    padding-top: 6px;

    background-color: @pink;
    text-transform: uppercase;
    color: @white;
    .font(12px;24px);
    font-weight: 700;
  }
}

.photo__link {
  display: block;

  line-height: 0;
}

.photo__image {
  width: 100%;
}

.photo__description {
  padding: 24px 18px;

  text-align: left;
  background-color: @gray;
}

.photo__user-name {
  .reset-list();
  .font(14px; 24px;);
  font-weight: 700;
}

.photo__user-last-time {
  .font(12px; 24px;);
  font-weight: 300;
  text-transform: uppercase;
}

.photo__comment {
  .reset-list();
  margin-bottom: 16px;
  min-height: 48px;

  .font(14px; 24px;);
}

.photo__likes {
  padding-left: 30px;

  .font(12px; 24px;);
  color: @pink;
  text-transform: uppercase;
  vertical-align: bottom;
}

@media (min-width: @tablet-width) {
  .photo__item {
    &--panorama::before {
      top: 57px;
    }
  }

  .photo__link {

  }

  .photo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
  }

  .photo__item {
    margin: 10px;
    width: 300px;

    &--panorama {
      margin-left: 0;
      width: 100%;
    }
  }
  .photo__image {
    max-height: 510px;
  }

  .photo__description {
    min-height: 155px;
    padding: 22px 28px;
  }

  .photo__likes {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo__wrapper {
    .container-desk;
  }
}
