.photo__list {
  .list-off();

}

.photo__item {
  .photo--day {

  }
}

.photo__link {

}

.photo__image {

}

.photo__description {
  padding: 24px 18px;

  text-align: left;
  background-color: @gray;
}

.photo__user-name {
  .no-ident();
  .font(14px; 24px;);
  font-weight: 700;
}

.photo__user-last-time {
  .font(12px; 24px;);
  font-weight: 300;
  text-transform: uppercase;
}

.photo__comment {
  .no-ident();
  margin-bottom: 16px;

  .font(14px; 24px;);
}

.photo__likes {
  padding-left: 30px;

  .font(12px; 24px;);
  color: @pink;
  text-transform: uppercase;
  vertical-align: bottom;
}
