.reviews {
  padding: 48px 0;
}

.reviews__wrapper {
  position: relative;

  .container;
}



.reviews__list {

}

.reviews__item {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.reviews__author-name {
  .font(18px;30px);
  font-style: normal;
  font-weight: 700;
  color: @black;
}

.reviews__author-data {
  display: none;
  .font(14px;30px);
  font-style: normal;
}

.reviews__text {
  .reset-list;
  margin-bottom: 40px;

  .font(14px;30px);
}

.reviews__toggles {

}

.reviews__button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;

  display: none;
  width: 30px;
  height: 30px;

  .font(0;0);
  border: none;
  border-width: 3px;
  border-color: @graytoggle;
  border-style: solid;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg);

  &--next {
    right: 0;
    left: auto;

    transform: rotate(135deg);
  }
}

@media (min-width: @tablet-width) {

  .reviews__item {
    margin-bottom: 38px;
  }

  .reviews__text {
    order: -1;

    .font(18px;30px);
  }

  .reviews__author-data {
    display: block;
  }

}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    .container-desk;
  }

  .reviews__text {
    padding: 0 10%;
  }

.reviews__button {
    display: block;
  }
}
