.tariffs {
  padding: 37px 0;
  background-color: @gray;


  &__table {
    border-collapse: separate;
    border-spacing: 0;
  }

  &__titles {
    box-shadow: 0px 2px 0px 0px red;
  }

  &__name {
    background-color: @blue;
    color: @white;
  }

  &__name:not(:first-child):not(:nth-child(2)) {
    border-left: 2px solid @graydark;
  }

  &__name:first-child {
    background-color: @gray;
    border-bottom: 2px solid @graydark;
  }

  &__name:nth-child(2) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0px 2px 0px 0px @graydark;
  }

  &__name:last-child {
    border-left: 2px solid @graydark;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 2px 0px 0px @graydark;
  }

  &__name--hit {

  }

  &__price {

  }

  &__functions-row {
    background-color: @white;
  }

  &__function {

    border-left: 2px solid @graydark;
    border-bottom: 2px solid @graydark;
  }

  &__function:first-child {
      border-left: 2px solid @graydark;
  }

  &__function:last-child {
      border-right: 2px solid @graydark;
  }

  &__function-name {

  }

  &__function--enabled {

  }

  &__function--disabled {

  }

  &__function--toggles {

  }

  &__function--toggle {

  }
}


